//Primary Colors

/*Eliminar*/
$red: #B60036;
$yellow: #FFD52A ;
$yellow2: #FFAD2A;

$dark-blue: #1E456F;
$blue: #2C6FB7 ;
$green: #72893D;


//Secondary Colors 
$black: #10101B;
$river: #4DB1A9;
$forest: #4C4B2B;
$orange: #E47625;
$fog: #bfbfc0;
$snow: #F3F4FA;


/*Eliminar*/
$dark: #2C2E33;
$light1: #EFF4F8;
$light2: #EFF4F8;
$p-color: #242E35;
$p-color-2: #232526;
$input-bg: #4B5A80;
$bg-dark-2: #DEEAF4;


//Tipograpy

$noto-sans-regular: 'Noto Sans Regular';
$noto-sans-bold: 'Noto Sans Bold';
$noto-sans-light: 'Noto Sans Light';
$gilroy: 'Gilroy';
$white-oleander: 'White Oleandery';


