.table-yellow{
    & thead{
        border-top: 2px solid $blue;
        background-color: $blue;
        font-family: $noto-sans-bold;
        color: white;
        & th{
            padding: 24px 32px;
        }
    }

    & tbody{
        font-size: 18px;
        border-bottom: 1px solid rgba($color: #707070, $alpha: .2);

        & td{
            padding: 20px 32px;
        }
    }
}